.top {
    background-color: #1F2937;
    color: white;
    display: flex;
   
    
}
ul { 
    list-style-type: none;
    display: flex;
    gap: 10px;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}